In [15]:
import pandas as pd
import numpy as np
import requests
import json
import os
from matplotlib import pyplot as plt
from scipy.stats import linregress
from config import username, api_key

Load in the city data file we found

In [6]:
city_path = os.path.join("Data","combined_data.csv")
df = pd.read_csv(city_path)
df.head()

,city,state,mean site eui,mean site eui res,mean source eui,mean source eui res,CDD,HDD,Tavg,Trange,Tmax,Tmin,Prcp,Snow
0,Birmingham,AL,143.647642,50.020103,400.595034,96.557022,1933,2770,62.78,22.46,73.94,51.44,5712,8
1,Mobile,AL,107.084979,50.998702,315.907443,117.940363,2537,1656,67.46,18.68,76.64,58.10,6528,2
2,Montgomery,AL,112.048215,NaN,298.702917,NaN,2113,2278,64.58,23.54,76.28,52.88,5280,0
3,Huntsville,AL,116.235841,NaN,362.019120,NaN,1540,3517,59.54,23.90,71.42,47.66,5582,24
4,Tuscaloosa,AL,189.021112,NaN,514.514461,NaN,2348,2338,64.94,22.64,76.28,53.78,5046,2

In [18]:
#Save config information
url = "https://bpd-api.lbl.gov/api/v2/analyze/table"

# Build query URL
# params = {
#     "units":"imperial"
# }

energy_data = pd.DataFrame(df["city"],columns=["city"])
clist = list(energy_data["city"])
electric_res = []
electric_com = []
fuel_res = []
fuel_com = []

headers = {
    "Content-Type":"application/json",
    "Authorization":f"ApiKey {username}:{api_key}",
}

energy_data

                 city
0          Birmingham
1              Mobile
2          Montgomery
3          Huntsville
4          Tuscaloosa
5           Anchorage
6              Juneau
7             Phoenix
8                Mesa
9              Tucson
10               Yuma
11        Little Rock
12       Fayetteville
13         Fort Smith
14          Jonesboro
15             Conway
16        Los Angeles
17      San Francisco
18          San Diego
19           San Jose
20             Denver
21   Colorado Springs
22       Fort Collins
23             Pueblo
24          New Haven
25         Bridgeport
26           Hartford
27           Stamford
28          Waterbury
29              Dover
..                ...
163           Houston
164            Dallas
165       San Antonio
166            Austin
167    Salt Lake City
168             Provo
169             Ogden
170             Logan
171        Burlington
172    Virginia Beach
173           Norfolk
174          Richmond
175           Hampton
176           Roanoke
177           Seattle
178            Tacoma
179         Vancouver
180           Everett
181           Spokane
182        Charleston
183        Huntington
184        Morgantown
185          Wheeling
186         Milwaukee
187           Madison
188         Green Bay
189          Cheyenne
190            Casper
191          Gillette
192           Laramie

[193 rows x 1 columns]

In [20]:
payload = {
        "filters":{"city":["Austin"]},
        "group_by":["building_class"],
        "analyze_by":"electric_eui"
    }
    
response = requests.post(url=url,data=json.dumps(payload),headers=headers,verify=True)
res_json = response.json()
res_json

{'metadata': {'message': 'success',
  'request_time': 0.0656440258026123,
  'url': 'http://bpd.lbl.gov/developers#analyze/table',
  'version': '2.2.1'},
 'summary': {'count': 2743,
  'group': 'ALL',
  'mean': 23.574027456192688,
  'percentile_0': 8.165152374892685e-08,
  'percentile_100': 384.6619999999999,
  'percentile_25': 0.8088142738035257,
  'percentile_50': 16.03455228338081,
  'percentile_75': 28.409448703504466,
  'standard_deviation': 39.012371122899786},
 'table': [{'count': 0,
   'group': [{'field': 'building_class',
     'type': 'categorical',
     'value': 'Unknown'}],
   'mean': None,
   'percentile_0': None,
   'percentile_100': None,
   'percentile_25': None,
   'percentile_50': None,
   'percentile_75': None,
   'standard_deviation': None},
  {'count': 2364,
   'group': [{'field': 'building_class',
     'type': 'categorical',
     'value': 'Residential'}],
   'mean': 13.654886789521315,
   'percentile_0': 8.165152374892685e-08,
   'percentile_100': 206.71153493908554,
   'percentile_25': 0.6256230321905266,
   'percentile_50': 11.750115860902248,
   'percentile_75': 23.280368273175178,
   'standard_deviation': 15.202398646260432},
  {'count': 379,
   'group': [{'field': 'building_class',
     'type': 'categorical',
     'value': 'Commercial'}],
   'mean': 85.44434021611653,
   'percentile_0': 8.497304395735851,
   'percentile_100': 384.6619999999999,
   'percentile_25': 43.400070945628585,
   'percentile_50': 62.10351926831373,
   'percentile_75': 91.44789163677477,
   'standard_deviation': 71.70870758813636}],
 'totals': {'number_of_buildings_in_bpd': 1008855,
  'number_of_matching_buildings': 2743}}

In [12]:
res_json["table"][1]["mean"]

19.6446202184613

Calling the API for the data on commercial buildings, site eui, source eui, occupants, occupants density, floor area, operating hours

In [19]:
for city in clist:
    payload = {
        "filters":{"city":[city]},
        "group_by":["building_class"],
        "analyze_by":"fuel_eui"
    }
    
    try:
        response = requests.post(url=url,data=json.dumps(payload),headers=headers,verify=True)
        res_json = response.json()
        fuel_res.append(res_json["table"][1]["mean"])
        fuel_com.append(res_json["table"][2]["mean"])
        print(f"Processing Record : {city}")
        
    except:
        print(f"Missing Data : {city}")
        fuel_res.append(np.nan)
        fuel_com.append(np.nan)

Processing Record : Birmingham
Processing Record : Mobile
Processing Record : Montgomery
Processing Record : Huntsville
Processing Record : Tuscaloosa
Processing Record : Anchorage
Missing Data : Juneau
Processing Record : Phoenix
Processing Record : Mesa
Processing Record : Tucson
Processing Record : Yuma
Processing Record : Little Rock
Processing Record : Fayetteville
Processing Record : Fort Smith
Processing Record : Jonesboro
Processing Record : Conway
Processing Record : Los Angeles
Processing Record : San Francisco
Processing Record : San Diego
Processing Record : San Jose
Processing Record : Denver
Processing Record : Colorado Springs
Processing Record : Fort Collins
Processing Record : Pueblo
Processing Record : New Haven
Processing Record : Bridgeport
Processing Record : Hartford
Processing Record : Stamford
Processing Record : Waterbury
Processing Record : Dover
Processing Record : Miami
Processing Record : Tampa
Processing Record : Fort Lauderdale
Processing Record : Jacksonville
Processing Record : Orlando
Processing Record : Atlanta
Processing Record : Columbus
Processing Record : Savannah
Processing Record : Augusta
Processing Record : Macon
Processing Record : Honolulu
Processing Record : Hilo
Processing Record : Boise
Processing Record : Idaho Falls
Processing Record : Pocatello
Processing Record : Twin Falls
Processing Record : Chicago
Processing Record : Joliet
Processing Record : Aurora
Processing Record : Elgin
Processing Record : Indianapolis
Processing Record : Fort Wayne
Processing Record : South Bend
Processing Record : Evansville
Processing Record : Des Moines
Processing Record : Davenport
Processing Record : Cedar Rapids
Processing Record : Sioux City
Processing Record : Waterloo
Processing Record : Wichita
Processing Record : Topeka
Processing Record : Lawrence
Missing Data : Manhattan
Processing Record : Louisville
Processing Record : Lexington
Processing Record : Bowling Green
Processing Record : Owensboro
Processing Record : New Orleans
Processing Record : Baton Rouge
Processing Record : Shreveport
Processing Record : Lafayette
Processing Record : Portland
Processing Record : Lewiston
Processing Record : Bangor
Processing Record : Augusta
Processing Record : Baltimore
Processing Record : Annapolis
Processing Record : Hagerstown
Processing Record : Cumberland
Processing Record : Boston
Processing Record : Springfield
Processing Record : Worcester
Processing Record : Detroit
Processing Record : Grand Rapids
Processing Record : Flint
Processing Record : Lansing
Processing Record : Ann Arbor
Processing Record : Minneapolis
Processing Record : Rochester
Processing Record : Jackson
Missing Data : Gulfport
Processing Record : Hattiesburg
Processing Record : Kansas City
Processing Record : Columbia
Processing Record : Springfield
Processing Record : Billings
Processing Record : Missoula
Processing Record : Great Falls
Processing Record : Bozeman
Missing Data : Helena
Processing Record : Omaha
Processing Record : Lincoln
Processing Record : Grand Island
Processing Record : Kearney
Processing Record : Las Vegas
Processing Record : Reno
Processing Record : Carson City
Missing Data : Elko
Processing Record : Manchester
Processing Record : Concord
Processing Record : Newark
Processing Record : Trenton
Processing Record : Albuquerque
Processing Record : Las Cruces
Processing Record : Santa Fe
Processing Record : Roswell
Processing Record : Farmington
Processing Record : New York
Processing Record : Buffalo
Processing Record : Albany
Processing Record : Rochester
Processing Record : Syracuse
Processing Record : Charlotte
Processing Record : Raleigh
Processing Record : Greensboro
Processing Record : Durham
Processing Record : Fargo
Processing Record : Bismarck
Processing Record : Grand Forks
Processing Record : Minot
Processing Record : Dickinson
Processing Record : Cleveland
Processing Record : Columbus
Processing Record : Cincinnati
Processing Record : Dayton
Processing Record : Akron
Processing Record : Tulsa
Processing Record : Oklahoma City
Processing Record : Lawton
Processing Record : Portland
Processing Record : Eugene
Processing Record : Salem
Processing Record : Medford
Processing Record : Bend
Processing Record : Philadelphia
Processing Record : Pittsburgh
Processing Record : Allentown
Processing Record : Harrisburg
Processing Record : Lancaster
Processing Record : Providence
Processing Record : Newport
Processing Record : Columbia
Processing Record : Charleston
Processing Record : Greenville
Processing Record : Spartanburg
Processing Record : Rock Hill
Processing Record : Sioux Falls
Processing Record : Rapid City
Processing Record : Aberdeen
Processing Record : Memphis
Processing Record : Nashville
Processing Record : Knoxville
Processing Record : Chattanooga
Processing Record : Houston
Processing Record : Dallas
Processing Record : San Antonio
Processing Record : Austin
Processing Record : Salt Lake City
Missing Data : Provo
Processing Record : Ogden
Processing Record : Logan
Processing Record : Burlington
Processing Record : Virginia Beach
Processing Record : Norfolk
Processing Record : Richmond
Processing Record : Hampton
Processing Record : Roanoke
Processing Record : Seattle
Processing Record : Tacoma
Processing Record : Vancouver
Processing Record : Everett
Processing Record : Spokane
Processing Record : Charleston
Processing Record : Huntington
Processing Record : Morgantown
Processing Record : Wheeling
Processing Record : Milwaukee
Processing Record : Madison
Processing Record : Green Bay
Processing Record : Cheyenne
Processing Record : Casper
Processing Record : Gillette
Missing Data : Laramie

In [21]:
for city in clist:
    payload = {
        "filters":{"city":[city]},
        "group_by":["building_class"],
        "analyze_by":"electric_eui"
    }
    
    try:
        response = requests.post(url=url,data=json.dumps(payload),headers=headers,verify=True)
        res_json = response.json()
        electric_res.append(res_json["table"][1]["mean"])
        electric_com.append(res_json["table"][2]["mean"])
        print(f"Processing Record : {city}")
        
    except:
        print(f"Missing Data : {city}")
        electric_res.append(np.nan)
        electric_com.append(np.nan)

Processing Record : Birmingham
Processing Record : Mobile
Processing Record : Montgomery
Processing Record : Huntsville
Processing Record : Tuscaloosa
Processing Record : Anchorage
Processing Record : Juneau
Processing Record : Phoenix
Processing Record : Mesa
Processing Record : Tucson
Processing Record : Yuma
Processing Record : Little Rock
Processing Record : Fayetteville
Processing Record : Fort Smith
Processing Record : Jonesboro
Processing Record : Conway
Processing Record : Los Angeles
Processing Record : San Francisco
Processing Record : San Diego
Processing Record : San Jose
Processing Record : Denver
Processing Record : Colorado Springs
Processing Record : Fort Collins
Processing Record : Pueblo
Processing Record : New Haven
Processing Record : Bridgeport
Processing Record : Hartford
Processing Record : Stamford
Processing Record : Waterbury
Processing Record : Dover
Processing Record : Miami
Processing Record : Tampa
Processing Record : Fort Lauderdale
Processing Record : Jacksonville
Processing Record : Orlando
Processing Record : Atlanta
Processing Record : Columbus
Processing Record : Savannah
Processing Record : Augusta
Processing Record : Macon
Processing Record : Honolulu
Processing Record : Hilo
Processing Record : Boise
Processing Record : Idaho Falls
Processing Record : Pocatello
Processing Record : Twin Falls
Processing Record : Chicago
Processing Record : Joliet
Processing Record : Aurora
Processing Record : Elgin
Processing Record : Indianapolis
Processing Record : Fort Wayne
Processing Record : South Bend
Processing Record : Evansville
Processing Record : Des Moines
Processing Record : Davenport
Processing Record : Cedar Rapids
Processing Record : Sioux City
Processing Record : Waterloo
Processing Record : Wichita
Processing Record : Topeka
Processing Record : Lawrence
Missing Data : Manhattan
Processing Record : Louisville
Processing Record : Lexington
Processing Record : Bowling Green
Processing Record : Owensboro
Processing Record : New Orleans
Processing Record : Baton Rouge
Processing Record : Shreveport
Processing Record : Lafayette
Processing Record : Portland
Processing Record : Lewiston
Processing Record : Bangor
Processing Record : Augusta
Processing Record : Baltimore
Processing Record : Annapolis
Processing Record : Hagerstown
Processing Record : Cumberland
Processing Record : Boston
Processing Record : Springfield
Processing Record : Worcester
Processing Record : Detroit
Processing Record : Grand Rapids
Processing Record : Flint
Processing Record : Lansing
Processing Record : Ann Arbor
Processing Record : Minneapolis
Processing Record : Rochester
Processing Record : Jackson
Missing Data : Gulfport
Processing Record : Hattiesburg
Processing Record : Kansas City
Processing Record : Columbia
Processing Record : Springfield
Processing Record : Billings
Processing Record : Missoula
Processing Record : Great Falls
Processing Record : Bozeman
Missing Data : Helena
Processing Record : Omaha
Processing Record : Lincoln
Processing Record : Grand Island
Processing Record : Kearney
Processing Record : Las Vegas
Processing Record : Reno
Processing Record : Carson City
Missing Data : Elko
Processing Record : Manchester
Processing Record : Concord
Processing Record : Newark
Processing Record : Trenton
Processing Record : Albuquerque
Processing Record : Las Cruces
Processing Record : Santa Fe
Processing Record : Roswell
Processing Record : Farmington
Processing Record : New York
Processing Record : Buffalo
Processing Record : Albany
Processing Record : Rochester
Processing Record : Syracuse
Processing Record : Charlotte
Processing Record : Raleigh
Processing Record : Greensboro
Processing Record : Durham
Processing Record : Fargo
Processing Record : Bismarck
Processing Record : Grand Forks
Processing Record : Minot
Processing Record : Dickinson
Processing Record : Cleveland
Processing Record : Columbus
Processing Record : Cincinnati
Processing Record : Dayton
Processing Record : Akron
Processing Record : Tulsa
Processing Record : Oklahoma City
Processing Record : Lawton
Processing Record : Portland
Processing Record : Eugene
Processing Record : Salem
Processing Record : Medford
Processing Record : Bend
Processing Record : Philadelphia
Processing Record : Pittsburgh
Processing Record : Allentown
Processing Record : Harrisburg
Processing Record : Lancaster
Processing Record : Providence
Processing Record : Newport
Processing Record : Columbia
Processing Record : Charleston
Processing Record : Greenville
Processing Record : Spartanburg
Processing Record : Rock Hill
Processing Record : Sioux Falls
Processing Record : Rapid City
Processing Record : Aberdeen
Processing Record : Memphis
Processing Record : Nashville
Processing Record : Knoxville
Processing Record : Chattanooga
Processing Record : Houston
Processing Record : Dallas
Processing Record : San Antonio
Processing Record : Austin
Processing Record : Salt Lake City
Missing Data : Provo
Processing Record : Ogden
Processing Record : Logan
Processing Record : Burlington
Processing Record : Virginia Beach
Processing Record : Norfolk
Processing Record : Richmond
Processing Record : Hampton
Processing Record : Roanoke
Processing Record : Seattle
Processing Record : Tacoma
Processing Record : Vancouver
Processing Record : Everett
Processing Record : Spokane
Processing Record : Charleston
Processing Record : Huntington
Processing Record : Morgantown
Processing Record : Wheeling
Processing Record : Milwaukee
Processing Record : Madison
Processing Record : Green Bay
Processing Record : Cheyenne
Processing Record : Casper
Processing Record : Gillette
Processing Record : Laramie

In [22]:
energy_data["mean electirc eui"] = electric_com
energy_data["mean electric eui res"] = electric_res
energy_data["mean fuel eui"] = fuel_com
energy_data["mean fuel eui res"] = fuel_res
energy_data

,city,mean electirc eui,mean electric eui res,mean fuel eui,mean fuel eui res
0,Birmingham,143.311563,21.116271,25.618049,NaN
1,Mobile,120.403278,30.169515,10.227344,NaN
2,Montgomery,104.782978,NaN,24.801954,NaN
3,Huntsville,140.163935,27.781260,32.382384,NaN
4,Tuscaloosa,160.009627,NaN,36.074106,NaN
5,Anchorage,90.755170,13.434063,66.884246,NaN
6,Juneau,33.031979,NaN,NaN,NaN
7,Phoenix,76.588709,26.895603,4.228576,5.881798
8,Mesa,123.888037,30.461339,2.630878,0.000000
9,Tucson,119.370537,24.753733,8.777518,9.298245
10,Yuma,139.602654,40.368228,2.726742,3.322212
11,Little Rock,110.742169,36.937149,26.681641,25.018769
12,Fayetteville,115.174324,23.263998,31.320575,11.478266
13,Fort Smith,79.046639,NaN,37.946755,NaN
14,Jonesboro,110.097287,NaN,21.670569,NaN
15,Conway,94.732085,38.123944,22.037656,0.037681
16,Los Angeles,87.060861,12.482543,16.832243,14.489057
17,San Francisco,62.009912,11.273363,16.371552,31.042033
18,San Diego,52.791774,13.641363,21.450765,18.474799
19,San Jose,79.824916,12.882705,15.928660,20.914838
20,Denver,60.529204,25.952758,39.046700,15.919006
21,Colorado Springs,73.671774,19.055994,37.605513,43.550232
22,Fort Collins,29.391001,24.702289,33.549288,11.749832
23,Pueblo,114.613892,NaN,29.821025,NaN
24,New Haven,78.071187,14.722778,46.605382,22.938729
25,Bridgeport,89.636319,14.650037,51.325919,NaN
26,Hartford,43.771088,13.409215,34.538848,23.319241
27,Stamford,74.374634,NaN,18.012045,NaN
28,Waterbury,115.041061,13.934902,29.454678,NaN
29,Dover,62.785287,19.470050,41.378846,26.942772
...,...,...,...,...,...
163,Houston,80.580466,28.982608,12.989201,27.245043
164,Dallas,85.168085,36.714383,7.799117,19.415924
165,San Antonio,105.178000,27.310792,7.970949,12.584208
166,Austin,85.444340,NaN,8.992273,NaN
167,Salt Lake City,82.400703,17.200833,52.629191,48.475668
168,Provo,NaN,NaN,NaN,NaN
169,Ogden,97.167726,15.695421,62.420204,35.896579
170,Logan,73.889033,NaN,64.113704,NaN
171,Burlington,77.804001,NaN,19.151181,NaN
172,Virginia Beach,62.971897,27.777557,11.411926,29.376968
173,Norfolk,86.462865,NaN,13.355791,NaN
174,Richmond,100.204312,19.247214,18.722155,16.625876
175,Hampton,86.789857,28.686374,19.020005,10.249316
176,Roanoke,55.884772,NaN,30.615587,NaN
177,Seattle,95.486408,25.535467,26.399558,25.045394
178,Tacoma,141.280182,NaN,21.408599,NaN
179,Vancouver,72.812822,NaN,21.298654,NaN
180,Everett,105.176329,NaN,37.774922,NaN
181,Spokane,94.665363,NaN,40.508535,NaN
182,Charleston,119.992456,NaN,21.209472,NaN
183,Huntington,75.172442,8.694155,41.882126,NaN
184,Morgantown,68.456991,NaN,17.273913,NaN
185,Wheeling,61.077689,NaN,32.459815,NaN
186,Milwaukee,63.276562,14.606104,50.805827,48.327908
187,Madison,86.972623,13.684957,43.368531,42.304402
188,Green Bay,59.517960,10.534924,30.730914,23.629515
189,Cheyenne,70.353458,NaN,41.147110,NaN
190,Casper,81.751226,NaN,32.854181,NaN
191,Gillette,68.486712,NaN,35.230860,NaN
192,Laramie,NaN,29.856481,NaN,NaN

In [24]:
energy_data.to_csv(os.path.join("Data","bpd_data_additional.csv"),index=False)